.env

# Datasets and Large Binary Files
*.csv
*.npy
*.h5
*.pkl
*.pt
*.onnx
*.parquet
*.feather

# Data and Temporary Directories
data/
datasets/
temp/
outputs/
**/__pycache__/
.ipynb_checkpoints/

# Specific Project Data Paths
app/ai/AnamalyDetectionEngine/data/
