.env
*.json
!package.json
!package-lock.json
!tsconfig.json


# Datasets and Large Binary Files
*.csv
*.npy
*.h5
*.pkl
*.pt
*.onnx
*.parquet
*.feather

# Data and Temporary Directories
data/
datasets/
temp/
outputs/
**/__pycache__/
.ipynb_checkpoints/

# Specific Project Data Paths
app/ai/AnamalyDetectionEngine/data/
# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
